<%- include('header')-%>
<div class="text center center-div mt-5" id="login">
<div class="container w-25 border py-5 mt-5">
    <h3> Welcome to My homepage</h3>
    <h5><%= email %></h5>
    <button  class="btn btn-success rounded-pill logoutbutton mt-5"><a href="/route/logout" > Logout</a></button>
</div>

</div>

<%- include('footer')-%>